* {
	text-align: center;
}

.btn, .btn-primary {
	width: 25%;
	position: relative;
	top: 100px;
	font-size: 20px
}
#commentHistory {
	padding: 0;
	position: relative;
	top: 100px;
	border: 1px solid black;
	border-bottom: none;
	width: 50%;
	margin: 2rem auto;
}

#commentHistory div {
	font-size: 20px;
	margin: 0 auto;
}

.names {
	font-weight: bolder;
	margin-top: 1rem;
	text-align: left;
	padding-left: 1rem;
}
.editButton {
	float: right;
}
.comments {
	border-bottom: 1px solid black;
	text-align: left;
	padding-left: 1rem;
}
label span {
	font-weight: bolder;
	color: red;
}